<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Admin</title>
</head>

<body>
<h2>Admin dashboard</h2>
<br>
<br> <a th:href="@{/space/new}">Add new workspace</a> <br>
<br> <a th:href="@{/space/update}">Update workspace</a> <br>
<br> <a th:href="@{/space/delete}">Remove workspace</a> <br>
<br> <a th:href="@{/space/all}">View all spaces</a> <br>
<br> <a th:href="@{/reservation/all}">View all reservations</a> <br>
<br>
<a th:href="@{/}">Resume</a>
</body>

</html>