<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Update workspace</title>
</head>

<body>
<h2>Workspace update</h2>
<br>
<form action="#" th:action="@{/space/update}" th:object="${spaceInput}" method="put">
    <div>
        <label>Enter workspace id: </label>
        <input type="number" th:field="*{id}" placeholder="Id"/>
        <p th:if="${#fields.hasErrors('id')}" th:errors="*{id}" style="color: red;"></p>

        <label>Enter workspace type: </label>
        <input type="text" th:field="*{type}" placeholder="Type"/>
        <p th:if="${#fields.hasErrors('type')}" th:errors="*{type}" style="color: red;"></p>

        <label>Enter workspace price: </label>
        <input type="number" th:field="*{price}" placeholder="Price"/>
        <p th:if="${#fields.hasErrors('price')}" th:errors="*{price}" style="color: red;"></p>

        <label>Enter workspace availability: </label>
        <input type="text" th:field="*{availability}" placeholder="Availability"/>
        <p th:if="${#fields.hasErrors('availability')}" th:errors="*{availability}" style="color: red;"></p>

        <p th:if="${error}" th:text="${error}" style="color: red;"></p>
    </div>
    <button type="submit">Update workspace</button>
</form>
<br> <a th:href="@{/adminMenu}">Resume</a>
</body>

</html>